In [1]:
import pandas as pd 
import numpy as np 

import os 
import json

# from flatten_json import flatten

In [2]:
data_folder = os.path.join(os.getcwd(),"data") # directory containing the data

dataset_path = os.path.join(data_folder,'training_set.json')

In [3]:

record_path = ['data','paragraphs','qas','answers']
json_file = json.loads(open(dataset_path).read())

df = pd.json_normalize(json_file , record_path,meta=[["data", "title"]])
df_questions = pd.json_normalize(json_file, record_path[:-1],meta=[["data", "title"]])
df_contexts = pd.json_normalize(json_file,record_path[:-2],meta=[["data", "title"]])

contexts = np.repeat(df_contexts["context"].values, df_contexts.qas.str.len())
contexts = np.repeat(contexts, df_questions["answers"].str.len())
df["context"] = contexts
df["question_id"] = np.repeat(df_questions["id"].values, df_questions["answers"].str.len())
df["question"] = np.repeat(df_questions["question"].values, df_questions["answers"].str.len())
df["context_id"] = df["context"].factorize()[0]

# Rename columns
df.rename(columns={"data.title": "title", "text": "answer"}, inplace=True)

In [4]:
df.head()

,answer_start,answer,title,context,question_id,question,context_id
0,515,Saint Bernadette Soubirous,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",5733be284776f41900661182,To whom did the Virgin Mary allegedly appear i...,0
1,513,PROVA,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",5733be284776f41900661182,To whom did the Virgin Mary allegedly appear i...,0
2,188,a copper statue of Christ,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",5733be284776f4190066117f,What is in front of the Notre Dame Main Building?,0
3,279,the Main Building,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",5733be284776f41900661180,The Basilica of the Sacred heart at Notre Dame...,0
4,381,a Marian place of prayer and reflection,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",5733be284776f41900661181,What is the Grotto at Notre Dame?,0

In [6]:
df[df['answer'].duplicated()==True]

,answer_start,answer,title,context,question_id,question,context_id
22,68,five,University_of_Notre_Dame,All of Notre Dame's undergraduate students are...,5733a70c4776f41900660f62,How many colleges for undergraduates are at No...,4
83,368,14,University_of_Notre_Dame,About 80% of undergraduates and 20% of graduat...,5733b699d058e614000b611c,There are how many dorms for females at Notre ...,16
103,274,three,University_of_Notre_Dame,One of the main driving forces in the growth o...,573387acd058e614000b5cb4,How many national titles were won when Knute R...,20
110,11,Father John Francis O'Hara,University_of_Notre_Dame,Holy Cross Father John Francis O'Hara was elec...,57338a51d058e614000b5cf1,Who was the president of Notre Dame in 1934?,22
145,73,1950,University_of_Notre_Dame,A Science Hall was built in 1883 under the dir...,573398ebd058e614000b5e67,In what year did the student union building at...,29
...,...,...,...,...,...,...,...
87591,134,6,Kathmandu,The main international airport serving Kathman...,5735d1a86c16ec1900b92832,"Starting in the center of Kathmandu, how many ...",18889
87592,297,22,Kathmandu,The main international airport serving Kathman...,5735d1a86c16ec1900b92833,How many airlines use Tribhuvan International ...,18889
87593,698,Amsterdam,Kathmandu,The main international airport serving Kathman...,5735d1a86c16ec1900b92834,From what city does Arkefly offer nonstop flig...,18889
87596,414,Rangoon,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",5735d259012e2f140011a09e,What was Yangon previously known as?,18890
87598,199,1975,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",5735d259012e2f140011a0a0,In what year did Kathmandu create its initial ...,18890

In [10]:
any(df.duplicated())

False

In [11]:
df2 = df.drop_duplicates()

In [12]:
df2.equals(df)

True

In [ ]:
json_file = json.loads(open(dataset_path).read())

In [ ]:
df = pd.json_normalize(json_file,record_path=['data','paragraphs'],meta=[['data','title']])

In [ ]:
f = (flatten(record) for record in json_file['data'])

In [ ]:
df = pd.DataFrame(f)

In [ ]:
type(df.head())

In [ ]:
csv_path = os.path.join(data_folder,'dataframe.csv')
df.head(1).to_csv(csv_path)

In [ ]:
df.head(1)

In [ ]:
df.iloc[0].to_list()

In [ ]:
df.iloc[0]